/*
    Dark Blue: 00485D
    Pink: #FD3375 
    Green: #05BE69
    Orange: #FF9100
*/



.setWidth {
    max-width: 100px;

}
.mapSearchOptionBackground{
    background-color: #9acfea;
    margin-bottom: 0;
    padding: 0;
}

.has-error{
    color: #a94442;
    border: red;
    font-family: 'Nunito', sans-serif;
    margin: 0;
}

.smallMapSize{
    margin: 2px;
    height: 60px;
    width: auto;

}
.concat div {
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 2px;

}

.zf-green {
    color: #68b604;
}

.bs-example{
    margin: 10px;
    color: black;
    font-family:Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color:  white;
}

.darkBluTitle{
    color: #00485D;
    padding: 55px 0 0 100px;
    font-weight: 600;
}

.darkBluSubTitle{
    color: #00485D;
    padding: 10px 0 0 ;
    font-weight: 600;
}

.btn-success {
  background-color: #57a900;
  background-image: -moz-linear-gradient(top, #70d900, #57a900);
  background-image: -ms-linear-gradient(top, #70d900, #57a900);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
  background-image: -webkit-linear-gradient(top, #70d900, #57a900);
  background-image: -o-linear-gradient(top, #70d900, #57a900);
  background-image: linear-gradient(top, #70d900, #57a900);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #57a900;
}

.btn-success:active, .btn-success.active {
  background-color: #57a900;
}

div.container a.brand {
    background: url("../img/zf2-logo.png") no-repeat scroll transparent;
    margin-left: 0;
    padding: 8px 20px 12px 40px;
}
/* popupFormat */
.popupFormat{
    font-family: 'Helvetica Neue','Nunito', sans-serif,'Nunito', sans-serif;
    /*color: #faf3bc;*/
    color:  black;
    list-style-type: decimal;
    margin-left: 5px;
    padding-left: 15px;
    background: rgba(214, 165, 113, 0.1);
}

body {
    font-family: er,'Helvetica Neue','Nunito', sans-serif,'Nunito', sans-serif;
    /*color: #faf3bc;*/
    color:  white;
    background: #00485D;
}

.headerMargin{
    padding: 100px 100px 20px 100px;
}

.menuFormat{
    font-family: 'futura-pt',Arial, sans-serif;
    color: white;
    font-size: x-large;
}

.navbarPadding {
    padding-top: 67px;
}
.advance-search {
    margin-top: 5px;
}

.tableBackground{
    background-color: #68b604;
    color:black;
}

.tableText{
    color:black;
}

#detailedSearch{
    padding: 8px;
    margin-top: 10px;
}

.navbar #nav > .active > .t {
    color: #f3a130;
}

.navbar-fixed-top
{
    background-color: rgba(0, 72, 93, 0.97) ;
    background-image: none;
    color: #FFFFFF;
    font-family: 'MenuFont';

}

.nav-tabs{
    border:none;
}

/*
.nav li a:hover{
    background: none;
    font-style: normal;
}
*/

/*
-----------------------------------------------------------
            Bootstrap Overrides
-----------------------------------------------------------





.navbar-default .navbar-brand {
    color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
    color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #FF9100;

}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #FF9100;
    background-color: #d65c14;
}
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: green;
    border-bottom-color: #ffffff;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #FF9100;
    border-bottom-color: #8a0e0b;
}
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #8a0e0b;
    border-bottom-color: #8a0e0b;
}
.navbar-default .navbar-toggle {
    border-color: #d65c14;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #d65c14;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: white;
    background: transparent;
}
.navbar{
    border-bottom: none;
    border-color: whitesmoke;
    margin-bottom: 15px;
}

/* background del menu activo....
.navbar-default .navbar-nav > .active  {
    color: #FF9100;
    background: green;
    border-style: dashed;
    border-color: white;
}*/
.AdvanceSearchHeader{
    font-style: oblique;
    font-weight: 200 ;
    color: #245269;
}

.advenceSeachBorde{
    border: double;
    border: darkgrey;
    margin-left: 20px;
}

#yesFreeActive{
    width: 45px;
    border-radius: 4px 0 0 4px;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 0 solid transparent;
    text-align: center;
    font-size: 12px;
}
#noFreeActive{
    width: 40px;
    border-left: 0 solid transparent;
    border-right: 0 solid transparent;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    border-radius: 0;
    text-align: center;
    font-size: 12px;
}
#anyFreeActive {
    width: 45px;
    border-radius: 0 4px 4px 0;
    border-left: 0 solid transparent;
    border-right: 2px solid transparent;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    text-align: center;
    font-size: 12px;
}

#yesFreeActive.active {
    -webkit-box-shadow:1px 2px 2px 1px #22445d;
    -moz-box-shadow: 0px 1px 0px #22445d;
    box-shadow: 1px 2px 2px 1px #22445d;
    position:relative;
    top:0px;
    background-color: rgba(198, 189, 197, 0.17); !important
    }
#anyFreeActive.active {
    -webkit-box-shadow:1px 2px 2px 1px #22445d;
    -moz-box-shadow: 0px 1px 0px #22445d;
    box-shadow: 1px 2px 2px 1px #22445d;
    position:relative;
    top:0px;
    background-color: rgba(198, 189, 197, 0.17); !important
}

#noFreeActive.active {
    -webkit-box-shadow:1px 2px 2px 1px #22445d;
    -moz-box-shadow: 0px 1px 0px #22445d;
    box-shadow: 1px 2px 2px 1px #22445d;
    position:relative;
    top:0px;
    background-color: rgba(198, 189, 197, 0.17); !important
}

#yesDisabilityActive{
    width: 45px;
    border-radius: 4px 0 0 4px;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 0 solid transparent;
    text-align: center;
    font-size: 12px;
}
#noDisabilityActive{
    width: 40px;
    border-left: 0 solid transparent;
    border-right: 0 solid transparent;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    border-radius: 0;
    text-align: center;
    font-size: 12px;
}
#anyDisabilityActive {
    width: 45px;
    border-radius: 0 4px 4px 0;
    border-left: 0 solid transparent;
    border-right: 2px solid transparent;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    text-align: center;
    font-size: 12px;
}

#yesDisabilityActive.active {
    -webkit-box-shadow:1px 2px 2px 1px #22445d;
    -moz-box-shadow: 0px 1px 0px #22445d;
    box-shadow: 1px 2px 2px 1px #22445d;
    position:relative;
    top:0px;
    background-color: rgba(198, 189, 197, 0.17); !important
}
#anyDisabilityActive.active {
    -webkit-box-shadow:1px 2px 2px 1px #22445d;
    -moz-box-shadow: 0px 1px 0px #22445d;
    box-shadow: 1px 2px 2px 1px #22445d;
    position:relative;
    top:0px;
    background-color: rgba(198, 189, 197, 0.17); !important
}

#noDisabilityActive.active {
    -webkit-box-shadow:1px 2px 2px 1px #22445d;
    -moz-box-shadow: 0px 1px 0px #22445d;
    box-shadow: 1px 2px 2px 1px #22445d;
    position:relative;
    top:0px;
    background-color: rgba(198, 189, 197, 0.17); !important
}

#yesChildcareActive{
    width: 45px;
    border-radius: 4px 0 0 4px;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 0 solid transparent;
    text-align: center;
    font-size: 12px;
}
#noChildcareActive{
    width: 40px;
    border-left: 0 solid transparent;
    border-right: 0 solid transparent;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    border-radius: 0;
    text-align: center;
    font-size: 12px;
}
#anyChildcareActive {
    width: 45px;
    border-radius: 0 4px 4px 0;
    border-left: 0 solid transparent;
    border-right: 2px solid transparent;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    text-align: center;
    font-size: 12px;
}

#yesChildcareActive.active {
    -webkit-box-shadow:1px 2px 2px 1px #22445d;
    -moz-box-shadow: 0px 1px 0px #22445d;
    box-shadow: 1px 2px 2px 1px #22445d;
    position:relative;
    top:0px;
    background-color: rgba(198, 189, 197, 0.17); !important
}
#anyChildcareActive.active {
    -webkit-box-shadow:1px 2px 2px 1px #22445d;
    -moz-box-shadow: 0px 1px 0px #22445d;
    box-shadow: 1px 2px 2px 1px #22445d;
    position:relative;
    top:0px;
    background-color: rgba(198, 189, 197, 0.17); !important
}

#noChildcareActive.active {
    -webkit-box-shadow:1px 2px 2px 1px #22445d;
    -moz-box-shadow: 0px 1px 0px #22445d;
    box-shadow: 1px 2px 2px 1px #22445d;
    position:relative;
    top:0px;
    background-color: rgba(198, 189, 197, 0.17); !important
}


.squarAbout{
    margin: 30px 60px 30px 30px;
}

.contactFormat{
    
    border: medium;

}

.squarHelp{
    padding: 0 60px 0 80px;

}

#free{
    background-color: transparent;
    border-radius: 5px;
}

#childcare{
    background-color: transparent;
    border-radius: 5px;
}

#disability{
    background-color: transparent;
    border-radius: 5px;
}

.small {
    width: 30%;
    height: 50px;
    margin-top: 20px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Verdana, Helvetica,'Helvetica Neue','Nunito', sans-serif;
}

.blackColor{
    color: black;
}

.formFormat{
    margin: 20px;
}

.searchBottonFormat{
    margin-left: 35px;
}

.childcareBottonFormat{
    width: 90px;
}

.searchBottonFormat{
    padding-top: 35px;
}

.bottonFormat{
    width: 20px;
}

.marginTop {
    margin-top: 50px;
}

.panelTitleBackground {
    background-color: cornsilk;
    color: #245269;
}

.panel{
    border: none;
}
.cta-button {
    padding: 15px 30px;
    margin: 40px 0;
    color: #faf3bc;
    background: #4fb69f url('img/texture.png') no-repeat right top;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    text-transform: uppercase;
    border: none;
    font-size: 1.1em;
}

.link-list {
    list-style-type: none;
    line-height: 1.8;
    margin: 0;
    padding: 0;
}

.link-list .heading {
    font-weight: bold;
    margin-bottom: 10px;
}

.main-footer {
    margin: 50px 0 0 0;
    font-size: .95em;
    padding-left: 40px;
    color: #a6afb2;
}

.main-footer a {
    color: #a6afb2;
    font-style: normal;
}

.footImages{
    padding:0 5px 0 5px;
}

.th-logo {
    width: 130px;
    height: 50px;
    margin: -.75em 0 .95em 0;
}

.main-logo {
    width: 155px;
    height: 90px;
    margin: .75em 0 .95em .75em;
}

.map_borde{
    border: 8px solid #a3a130;
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.helpUl{
    list-style-type: circle;
    padding-left: 30px;
    margin: 2px;
}

.windowInfo{
    background-color: inherit;
    color: midnightblue;
    font-family: Helvetica;
}

#new-cupcakes img {
    border: 8px solid #faf3bc;
    margin: 0 0 20px 0;
}

.mainWidth{
    width: 99%;
}

#featured-cupcake img {
    border: 8px solid #faf3bc;
}

#map-canvas {
    width: 100%;
    height: 435px;
}

#map-canvas-small {
    width: 100%;
    height: 180px;
}

.main-img{
    width: 100%;
    height: 100%;
}

.displayNone {
   display: none;
}

.social_img img {
    width: 20%;
}

.social_img img {
    margin-top: 0px;
}

.pagraph{
    margin-top: 20px;
}

.btn-danger{
    /*margin-top: 5px;*/
}
.rightMargin{
    /*argin-right: 20px;*/
    padding-right: 50px;
}

.backgroundColour{
    background: #f3a130;
}

.backgroundColourGray{

    /*background-color: rgba(0, 72, 93, 1, ) ;
    background: #f3a130;*/
    background: rgba(0, 72, 93, 0.04);
    padding: 0 5px 5px 5px;
    border-radius: 9px;
}

.textareaScroll{
    resize: none;
    height: 55px;
    max-height: 55px;
}

/* default height */
#ad {
    height:60px;
}
@media only screen and (height:90px) {
    /* 90 pixels high */
    #ad {
        height:90px;
    }
}
@media only screen and (height:125px) {
    /* 125 pixels high */
    #ad {
        height:125px;
    }
}
