<div class="panel panel-primary bs-example">
    <div class="panel-heading"><h1 class="text-center" >Newham <abbr title="English for Speakers of Other Languages">ESOL</abbr>  Exchange</h1></div>

    <div class="row">
        <div class="col-md-12">
            <h4 class="squarHelp">
                Newham ESOL Exchange is a network of people and organisations working together to improve ESOL in Newham.
                The Exchange is managed by Aston-Mansfield’s Community Involvement Unit and funded by Newham Adult Learning Service.
                We meet every two months, with occasional events. We organise training for ESOL tutors and create
                resources and factsheets. Find out more here [link to EE web page]. Since 2007 we have published a
                yearly directory of ESOL classes. This year for the first time information about classes is available online.
            </h4>

        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="squarHelp">
                <h3 class="darkBluSubTitle" >How to use this website</h3>
                <h4 class="">
                    ESOL courses are for adults living in the UK who need English to help in everyday life. This is a simple
                    guide aimed at leaners that may also be useful for people signposting to ESOL classes.
                </h4>
                <div class="">
                    <h3>What kind of class?</h3>
                    <p class="helpUl">
                        Classes can be formal or informal, with or without exams, long or short.  If you want to learn
                        English in a fun, relaxed way or just want to practise, look for ‘Informal ESOL’.
                    </p>
                    <h3>Where?</h3>
                    <p class="helpUl">
                        Choose the area in Newham where you would like to learn ESOL and search for this.
                    </p>

                    <h3> What do I do first?</h3>
                    <p class="helpUl">
                        Some classes are open to new learners all year but most have set times when you can join. Some are
                        open to anyone and others have strict rules about who can join. You may need to talk to the
                        organisation to find out more.
                    </p>

                    <h3> What documents will I need?</h3>
                    <p class="helpUl">
                        You will usually need to take some documents when you join a class.  Where we know what these are
                        they are listed in the course information.
                    </p>
                </div> <br></br>
            </div>
            </div>

        <div class="col-md-1"></div>
        <div class="col-md-4">
            <div class="backgroundColourGray">
                <h3 class="darkBluSubTitle">Contact us</h3>
                <h4 class="">If you want to ask a question or tell us something about the website please contact:</h4>
                <h5> <span class="glyphicon glyphicon-user"> Anne Crisp </span> </h5>

                <h5><span class="glyphicon glyphicon-phone-alt"> 020 3740 8122 </span></h5>

                <h5><span class="glyphicon glyphicon-envelope"><a class="text-info" href="mailto:#anne.crisp@aston-mansfield.org.uk"> anne.crisp@aston-mansfield.org.uk</a></span></h5>

                <h5><span class="glyphicon glyphicon-info-sign"><a href="http://www.aston-mansfield.org.uk/newhamesolexchange"> Aston Mansfield</a></span></h5>
            </div>
        </div>
    </div>
</div>
