<div class="panel panel-primary">
    <div class="panel-heading">Manage DDBB</div>
    <div class="panel-body">
        <div class="col-md-12">
            <ul class="text-info">
                <li>{{#link-to 'organization'}}<h3 class="text-info"><span class='glyphicon glyphicon-hand-right'></span>  Support Organization</h3>{{/link-to}}</li>
                <li>{{#link-to 'centre'}}<h3 class="text-info"><span class='glyphicon glyphicon-hand-right'></span>  Support Centres</h3>{{/link-to}}</li>
                <li>{{#link-to 'course'}}<h3 class="text-info"><span class='glyphicon glyphicon-hand-right'></span>  Support Courses</h3>{{/link-to}}</li>
            </ul>
        </div>
    </div>
</div>