<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-5">
                    <a href="#"> <img src="img/esol.jpg" alt="Esol Exchange">  </img></a>
                </div>
                <div class="col-md-7">
                    <ul class="nav nav-pills pull-right text-info">
                        <li ><a href="about.html" ><p class="text-info">About</p></a></li>
                        <li>{{#link-to 'searchResult' course}}<p class="text-info">Links</p>{{/link-to}}</li>
                        <li>{{#link-to 'organization'}}<p class="text-info">Support Organization</p>{{/link-to}}</li>
                        <li>{{#link-to 'map'}}<p class="text-info">Map{{/link-to}}</p></li>
                        <li><a href="#"><p class="text-info">Contact Us</p></a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 ">
                    <h4 class="text-info">If you live in Newham and want to improve your English, this website is for you.  More than xxx courses to choose from. <a title="English for Speakers of Other Languages.">ESOL</a> </h4>

                </div>
            </div>
        </div>
        <div class="panel-body ">
            <div class="row">
                <div class="col-md-12">
                    {{outlet}}
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <p class="text-muted">Panel Footer</p>
            <p class="text-muted">Call us: <span>1-800-987654</span> <br></br>
                    Email us: <a href="#">someone@somewhere.com</a></p>
        </div>
    </div>
</div>






