<div class="container">
    <div class="row">
        <div class="col-md-5">
            <a href=""> <img src="" alt="Smells Like Bakin">  </img></a>
        </div>
        <div class="col-md-7">
            <ul class="nav nav-pills pull-right">
                <li><a href="about.html">About</a></li>
                <li><a href="#">Links</a></li>
                <li> {{#link-to 'organization'}}Support Organization{{/link-to}}</li>
                <li>{{#link-to 'map'}}Map{{/link-to}}</li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 pagraph">
            <h3>If you live in Newham and want to improve your English, this website is for you.  More than xxx courses to choose from.</h3>
        </div>
    </div>
</div>

{{outlet}}


