<header class="list-group-item-heading ">
    <div class="headerMargin">
        <div class="row">
            <div class="col-md-2">
                <a href="#"> <img class="img-rounded img-responsive" src="img/esol1.jpg" alt="Esol Exchange">  </img></a>
            </div>
            <div class="col-md-9 ">
                <ul class="nav nav-pills navbar-right navbar-static-top">
                    <li ><a href="#"><p class="text-primary">About</p></a></li>
                    <li >{{#link-to 'administration'}}<p class="text-primary">System</p>{{/link-to}}</li>
                    <li class="">{{#link-to 'map'}}<p class="text-primary">Map{{/link-to}}</p></li>
                    <li><a href="#"><p class="text-primary">Contact Us</p></a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 ">
                <h2 class="text-info centered-text">If you live in Newham and want to improve your English, this website is for you.  More than xxx courses to choose from. <abbr class="initialism" title="English for Speakers of Other Languages.">ESOL</abbr> </h2>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="panel panel-default">
        <div class="panel-body ">
            <div class="row">
                <div class="col-md-12">
                    {{outlet}}
                </div>
            </div>
        </div>
    </div>
</div>

<footer>
    <div class="row headerMargin">
        <div class="row">
           <p class="text-muted centered-text col-md-12">
               Copyright © 2015 Esol Exchange. Registered Charity Number: 220085. Company limited by guarantee Number: ENG 48350. All rights reserved.
               Legal Disclaimer & Copyright    Site map    Accessibility
           </p>
            <p class="text-muted centered-text col-md-12">Call us: <span>1-800-987654</span> <br></br>
                Email us: <a href="mailto:#">someone@somewhere.com</a></p>
        </div>
    </div>
</footer>






