<button class="btn btn-primary" {{action 'add'}}>Add new centre</button>
<div class="panel panel-default">
    <table class="table table-bordered container table-hover">
            <thead>
            <tr>
                <th class="col-md-6"><p class="text-info">Name</p></th>
                <th class="col-md-6"><p class="text-info">Address</p></th>
                <th>&nbsp;</th>
            </tr>
            </thead>

            {{#each centre in centres}}
            <tbody>
                <tr>
                    <td>{{#link-to "editCentre" centre}}<p class="text-primary">{{centre.name}}</p>{{/link-to}}</td>
                    <td><p class="text-primary">{{centre.address}}</p></td>
                    <td>
                        <p class="label label-warning">{{#link-to "deleteCentre" centre}}<span class='glyphicon glyphicon-remove' title="Delete"></span>{{/link-to}}</p>
                    </td>
                </tr>
            </tbody>

        {{/each}}
    </table>
</div>