<div>
    <h1><p class="text-primary">Are sure you want delete the course named <span class="text-info" >{{name}}</span>? </p></h1>
    <button class="btn btn-primary" {{action 'delete'}}>Accept</button>
    <button class="btn btn-danger" {{action 'cancel'}}>Cancel</button>
</div>