<div>
    <h1><p class="text-primary">Are sure you want delete the centre named " <span class="text-info" >{{name}}</span> " ? </p></h1>
    <button class="btn btn-primary" {{action 'delete'}}>Yes</button>
    <button class="btn btn-danger" {{action 'cancel'}}>Cancel</button>
</div>