<?php
	 // module/Organization/view/organization/organization/delete.phtml:

	 $title = 'Delete organization';
	 $this->headTitle($title);
 ?>
 <h1><?php echo $this->escapeHtml($title); ?></h1>

 <p>Are you sure that you want to delete
	'<?php echo $this->escapeHtml($organization->name); ?>' by
	'<?php echo $this->escapeHtml($organization->address); ?>'?
 </p>
 <?php
	 $url = $this->url('organization', array(
	     'action' => 'delete',
	     'id'     => $this->id,
	 ));
 ?>
 <form action="<?php echo $url; ?>" method="post">
	 <div>
	     <input type="hidden" name="id" value="<?php echo (int) $organization->id; ?>" />
	     <input type="submit" name="del" value="Yes" />
	     <input type="submit" name="del" value="No" />
	 </div>
 </form>


