<div class="panel panel-primary bs-example">
    <div class="panel-heading">Deleting a course</div>
    <div class="bs-example">
        <div class="row">
            <div class="col-xs-8">
                <h1><p class="text-primary">Are sure you want delete the course named <span class="text-info" >{{name}}</span>? </p></h1>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="pull-right rightMargin">
                <div class="col-xs-8">
                    <button class="btn btn-danger btn-lg" {{action "cancel"}}>Cancel</button>
                </div>
                <div class="col-xs-4">
                    <button class="btn btn-primary btn-lg" {{action 'delete'}}>Accept</button>
                </div>
            </div>
        </div>
    </div>
</div>