<div>
    <h1><p class="text-primary">Are sure you want delete the organization named <span class="text-info" >{{name}}</span>? </p></h1>
    <button class="btn btn-primary" {{action 'delete'}}>Accept</button>
</div>