<div class="panel panel-primary">
    <div class="panel-heading">Edit Organization</div>
    <form>
        <input type="text" hidden="" name="id">
        Name: <input type="text" name="name">
        Address: <input type="text" name="address">
        post_code: <input type="text" name="post_code"><br><br>
        Phone: <input type="text" name="contact_number">
        Email: <input type="text" name="contact_mail">
        Contact: <input type="text" name="contact_person">
        Web: <input type="text" name="contact_web"><br><br>
        Assessment: <input type="text" name="esol_assesment">
        tutors_qualified: <input type="text" name="tutors_qualified">
        tutors_qualified_condition: <input type="text" name="tutors_qualified_condition"><br><br>
        courses_acreditated: <input type="text" name="courses_acreditated">
        courses_acreditation_condition: <input type="text" name="courses_acreditation_condition">
        how_acreditated: <input type="text" name="how_acreditated"><br><br>
        core_curriculum: <input type="text" name="core_curriculum">
        core_curriculum_condition: <input type="text" name="core_curriculum_condition"><br><br>
        referral_system: <input type="text" name="referral_system">
        classes_outside_newham: <input type="text" name="classes_outside_newham">
        other_information: <input type="text" name="other_information"><br><br>

        <input type="submit" value="Submit">
    </form>
</div>

