<div class="panel panel-primary bs-example">
    <h1 class="text-left darkBluTitle">Info Tab</h1>
    <div class="row">
        <div class="col-md-6">
                <div class="squarHelp">
                    <h3 class="darkBluSubTitle"> Websites for ESOL learners:</h3>
                    <ul class="helpUl">
                        <li>
                            <a href="https://esol.britishcouncil.org/">
                                <span class="text-info">British Council</span>
                            </a>  - ESOL Nexus site for learners
                        </li>
                        <li>
                            <a href="http://learnenglish.britishcouncil.org/en/">
                                <span class="text-info">Learn English</span>
                            </a> - the original British Council website for learners of English all over the world
                        </li>
                        <li>
                            <a href="http://www.bbc.co.uk/learningenglish/">
                                <span class="text-info">BBC Learning English</span>
                            </a> - a varied range of grammar, activities and features </li>
                        <li>
                            <a href="http://learnenglish.britishcouncil.org/en/">
                                <span class="text-info">BBC Skillswise</span>
                            </a> - website for people with English as a first language who need to improve their skills. Also useful for ESOL students </li>
                        <li>
                            <a href="http://www.bbc.co.uk/programmes/b01cqx3b">
                                <span class="text-info">The listening project on Radio 4</span>
                            </a>  - recordings of ordinary people in conversation on a wide range of topics </li>
                        <li>
                            <a href="http://learnenglish.britishcouncil.org/en/apps/learnenglish-great-videos">
                                <span class="text-info">Learn English</span>
                            </a> - great videos
                        </li>
                        <li>
                            <a href="http://www.engvid.com">
                                <span class="text-info">Free English</span>
                            </a>  - video lessons
                        </li>
                        <li>
                            <a href="http://www.anglo-link.com/index.php?/home">
                                <span class="text-info">Anglo-link</span>
                            </a> - some free video lessons and paid membership options
                        </li>
                        <li>
                            <a href="https://www.youtube.com/watch?v=v4AtBASKGv4">
                                <span class="text-info">English Today</span>
                            </a>  - ESOL Nexus site for learners
                        </li>
                        <li>
                            <a href="http://www.english-now.com">
                                <span class="text-info">English Now</span>
                            </a> - ...
                        </li>
                    </ul>
                </div><br></br>
        </div>
                <div class="col-md-5">
                    <h3 class="darkBluSubTitle"> Online dictionaries:</h3>
                    <ul class="helpUl">
                        <li>
                            <a href="http://www.oxfordlearnersdictionaries.com">
                                <span class="text-info">Oxford Learner’s Dictionaries</span>
                            </a>  - works well on smart phones and you can listen to the words spoken with a British English accent and American English accent
                        </li>
                        <li>
                            <a href="http://dictionary.cambridge.org/dictionary/british/">
                                <span class="text-info">Cambridge Advanced Learner’s Dictionary</span>
                            </a>  - another very good online dictionary
                        </li>
                        <li>
                            <a href="http://www.collinsdictionary.com/dictionary/english-cobuild-learners/go?showCookiePolicy=true">
                                <span class="text-info">Collins English for Learners Dictionary</span>
                            </a>  - this works well on smart phones and has a useful word frequency indicator
                        </li>
                        <li>
                            <a href="http://www.wordreference.com">
                                <span class="text-info">Word reference</span>
                            </a>  - a useful dictionary that translates between English and a number of other languages
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
<br></br>
</div>