<div class="panel panel-primary textColourBlack">
    <div class="panel-heading"><h1 class="text-center">Login for admin</h1></div>
    <div class="row">

        <div class=" center-block">
            <div class="im-centered center-block">
                <form>
                    <fieldset>
                        <div class="form-group">
                            <label for="textInput">If you are admin, enter the password</label>

                            {{input class="form-control"
                            type="password"
                            id="textInput"
                            action="login"
                            value=password
                            placeholder="Password"
                            aria-describedby="sizing-addon2"}}

                        </div>
                        <button type="submit" class="btn btn-primary" {{action 'login'}}>Sign in</button>

                    </fieldset>
                    {{#if authFailed}}
                        <p class="text-danger">Incorrect password, try again</p>
                    {{/if}}
                </form>

            </div>
        </div><br></br>
    </div>
    <div class="panel-footer"><h1 class="text-center">This space is for admin only</h1></div>
</div>

