<div class="row">
    <div class="col-md-9">
        <h5 class="text-primary">Find an <a title="English for Speakers of Other Languages.">ESOL</a> class </h5>
        <div class="input-group">
            <input type="text" class="form-control" placeholder="e.g. English class" aria-describedby="basic-addon2">
            <span class="input-group-addon" id="basic-addon2"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
            <span class="glyphicons glyphicons-paperclip"></span>
        </div>
    </div>
</div>
<div class="row">
<div class="col-md-12">
    <a href="#"><span class="label label-info">Detailed search <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></span></a>
</div>
</div>
<div class="row">
<div class="col-md-12">
    <label class="checkbox-inline">
        <input type="checkbox" id="inlineCheckbox1" value="option1"> Free
    </label>
    <label class="checkbox-inline">
        <input type="checkbox" id="inlineCheckbox2" value="option2"> Child Care
    </label>
    <label class="checkbox-inline">
        <input type="checkbox" id="inlineCheckbox3" value="option3"> Disability
    </label>
</div><!-- /.col-md-12 -->
</div>
<div class="row">
    <div class="col-lg-3">
        <div class="input-group">
            <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Post Code <span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">E6</a></li>
                    <li><a href="#">E13</a></li>
                    <li><a href="#">E14</a></li>
                    <li><a href="#">E15</a></li>
                    <li><a href="#">E16</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </div><!-- /btn-group -->
            <input type="text" class="form-control" aria-label="...">
        </div><!-- /input-group -->
    </div>
    <div class="col-lg-3">
        <div class="input-group">
            <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Level <span class="caret"></span></button>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a href="#">Formal course</a></li>
                    <li><a href="#">Informal classes</a></li>
                    <li><a href="#">Conversation / speaking only</a></li>
                    <li><a href="#">ESOL with IT</a></li>
                    <li><a href="#">ESOL with sewing</a></li>
                    <li><a href="#">Women only</a></li>
                    <li><a href="#">ESOL for Citizenship</a></li>
                    <li><a href="#">ESOL for Employment</a></li>
                    <li><a href="#">Beginners/pre-literate</a></li>
                    <li><a href="#">Pre-entry</a></li>
                    <li><a href="#">Entry 1</a></li>
                    <li><a href="#">Entry 2</a></li>
                    <li><a href="#">Entry 3</a></li>
                    <li><a href="#">Level 1</a></li>
                    <li><a href="#">Level 2</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </div><!-- /btn-group -->
            <input type="text" class="form-control" aria-label="...">
        </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
    <div class="col-lg-3">
        <div class="input-group">
            <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Sector <span class="caret"></span></button>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a href="#">Stratford</a></li>
                    <li><a href="#">East Ham</a></li>
                    <li><a href="#">North Woolwich</a></li>
                    <li><a href="#">Playstow</a></li>
                    <li><a href="#">West Ham</a></li>
                    <li><a href="#">Forest Gate</a></li>
                    <li><a href="#">Beckton</a></li>
                    <li><a href="#">Prince Regent</a></li>
                    <li><a href="#">Britanian Village</a></li>
                    <li><a href="#">Upton Park</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </div><!-- /btn-group -->
            <input type="text" class="form-control" aria-label="...">
        </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
    <div class="col-md-3 result_list">
        <h2>List of result</h2>
        <ul>
            <li><a href="#">Example1</a></li>
            <li><a href="#">Example2</a></li>
            <li><a href="#">Example3</a></li>
            <li><a href="#">Example4</a></li>
            <li><a href="#">Example5</a></li>
            <li><a href="#">Example6</a></li>
            <li><a href="#">Example7</a></li>
            <li><a href="#">Example8</a></li>
            <li><a href="#">Example9</a></li>
        </ul>
    </div>
</div>
<div class="row col-md-12">
    <div id="map-canvas" class="mapSize"></div>
</div>
