<div class="panel panel-primary textColourBlack">
    <div class="panel-heading"><h1 class="text-center">Newham Family Learning</h1></div>
    <div class="row">
        <div class="col-md-12">
            <h3 class="squarHelp">
                Newham Family Learning run <abbr title="English for Speakers of Other Languages">ESOL</abbr> classes at some schools and children’s centres. If you are the parent,
                grandparent or carer of a child at a school or children’s centre in Newham ask if they have any classes.
            </h3><br></br>
        </div>
    </div>
</div>
