<div class="panel panel-primary bs-example">
<h1 class="text-center" >Choosing an <abbr title="English for Speakers of Other Languages">ESOL</abbr> class</h1>
<div class="row">
        <div class="col-md-11">
                <div class="squarHelp">
                        <h3 class=""> Using this website to find an ESOL class</h3>
                        <p class="helpUl">
                                ESOL courses are for adults living in the UK who need English to help in everyday life. This is a simple
                                guide aimed at leaners that may also be useful for people signposting to ESOL classes.
                        </p>
                        <h3>What kind of class?</h3>
                        <p class="helpUl">
                                Classes can be formal or informal, with or without exams, long or short.  If you want to learn
                                English in a fun, relaxed way or just want to practise, look for ‘Informal ESOL’.
                        </p>

                        <h3>Where?</h3>
                        <p class="helpUl">
                                Choose the area in Newham where you would like to learn ESOL and search for this.
                        </p>

                        <h3> What do I do first?</h3>
                        <p class="helpUl">
                                Some classes are open to new learners all year but most have set times when you can join. Some are
                                open to anyone and others have strict rules about who can join. You may need to talk to the
                                organisation to find out more.
                        </p>

                        <h3> What documents will I need?</h3>
                        <p class="helpUl">
                                You will usually need to take some documents when you join a class.  Where we know what these are
                                they are listed in the course information.
                        </p>

                        <h3>Which level is right for me?</h3>
                        <h4 class="helpUl">
                                At Beginnerns / Non-literate you will learn to
                        </h4>
                        <ul class="helpUl">
                                <li>speak and listen to English to help you learn to read and write English</li>
                                <li>read and write capital and small letters; read and write numbers</li>
                                <li>read and understand some words and groups of words that are important for you</li>
                                <li>begin to read a very short story</li>
                                <li>write some words and groups of words that are important for you</li>
                                <li>begin to write a very short story</li>
                        </ul>

                        <h3>
                                At Pre-entry you will
                        </h3>
                        <ul class="helpUl">
                                <li>
                                        work towards Entry level 1 with work on speaking, listening, reading and writing (eg exchange
                                        greetings; ask and answer simple questions; give a description; read simple sentences; write
                                        simple sentences).
                                </li>
                        </ul>

                        <h3>At Entry level 1 you will learn to</h3>
                        <ul class="helpUl">
                                <li>exchange basic personal information (eg contact details, express likes and dislikes)</li>
                                <li>read and understand very simple signs, forms and notes</li>
                                <li>write short, simple sentences about current activities</li>
                                <li>grammar will include present tense of common verbs; common adjectives; can for ability;
                                        Wh- questions; word order in simple sentences; personal pronouns; use of capital letters and
                                        full stops</li>
                        </ul>

                        <h3>At Entry level 2 you will learn to</h3>
                        <ul class="helpUl">
                                <li>exchange personal information (eg daily routine); take part in discussions; talk about events
                                        in the past; make polite requests</li>
                                <li>read and understand short texts with different purposes (eg instructional, informative,
                                        descriptive, persuasive)</li>
                                <li>write short texts (eg a record of an event in the past or description of a person or place)</li>
                                <li>grammar will include simple past and present verb forms; adverbs of frequency (eg never,
                                        sometimes, often); can and could to make a request; instructions; joining words (eg and, or, but)
                                </li>
                        </ul>

                        <h3>At Entry level 3 you will learn to</h3>
                        <ul class="helpUl">
                                <li>listen and respond in formal situations; take part in discussions; talk about events in the past</li>
                                <li>read and understand short texts (eg diagrams, short reports)</li>
                                <li>write simple letters and accounts about past events and future activities</li>
                                <li>grammar will include past, present and future simple verb forms; reporting what someone said;
                                        should  to give advice; superlatives; may, might, possibly, probably, certainly to indicate
                                        future possibility; indirect questions</li>
                        </ul>

                        <h3>At Level 1 you will learn to</h3>
                        <ul class="helpUl">
                                <li>discuss unfamiliar situations and topics; adapt speech to audience and context; present
                                        information in a logical sequence</li>
                                <li>read and understand texts on a variety of unfamiliar topics (eg articles, reports; advertisements)</li>
                                <li>write texts in a variety of styles and formats to suit the purpose and audience (eg informal
                                        correspondence, completing a job application form, producing short reports)</li>
                                <li>grammar will include embedded questions; reported speech; simple passive; conditional sentences;
                                        complex adverbial phrases; range of connectives; use of apostrophes, bullet points and dashes</li>
                        </ul>

                        <h3>At Level 2 you will learn to</h3>
                        <ul class="helpUl">
                                <li>communicate detailed information, ideas and opinions clearly, adapting speech to audience and context;
                                        give formal presentations on known topics; engage in discussion appropriately in a variety of
                                        situations making clear and effective contributions</li>
                                <li>read and understand extended texts a variety of unfamiliar topics (eg articles, reports, reviews)</li>
                                <li>write texts in a variety of styles and formats to suit the purpose and audience (eg letters of
                                        complaint, formal reports, extended prose)</li>
                                <li>grammar will include a range of tenses, aspect and mood; wide range of phrasal verbs; full range
                                        of modal verbs; mixture of simple, compound and complex sentences; wide range of punctuation</li>
                        </ul>

                        <h3>What does B1 mean?</h3>
                        <p class="helpUl">
                                To prove your knowledge of English for citizenship and settling in the UK, the government says you
                                need an English speaking and listening qualification at B1 level or above
                                <span><a href="https://www.gov.uk/english-language">https://www.gov.uk/english-language</a></span>.
                                B1 is one of the levels on the CEFR (Common European Framework of Reference for Languages).
                                The CEFR describes foreign language proficiency at six levels: A1 and A2 (basic user); B1 and B2
                                (independent user); and C1 and C2 (proficient user). The ESOL Skills for Life levels and CEFR levels
                                are not directly equivalent. However, an ESOL qualification at Entry level 3 is regarded as equivalent
                                to B1 for the purposes of gaining citizenship.
                        </p>
                </div>
        </div>
</div>
</div>